{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --quiet --fix"],
  "**/*.{css,md,yml,yaml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ],
  ".lintstagedrc": ["prettier --write"]
}
