.jotai-devtools-monospace-font {
  font-family: var(--mantine-font-family-monospace);
  font-size: var(--mantine-font-size-sm) !important;
}

.jotai-devtools-navlink {
  border-radius: var(--mantine-radius-md);
}
