.header {
    position: sticky;
    top: 0;
    margin-top: var(--mantine-spacing-md);
}

.headerContent {
    border-radius: var(--mantine-radius-md);
    justify-content: space-between;
    background-color: var(--mantine-color-white);

    [data-mantine-color-scheme='dark'] & {
        background-color: var(--mantine-color-dark-7);
    }
  }